@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#score {
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px rgb(21, 255, 0);
}

#game {
  width: 600px;
  height: 300px;
  margin: auto;
  background-image: url("https://img.freepik.com/premium-vector/desert-road-wild-west-landscape-ai-generated-8bit-pixel-game-scene-vector-cartoon-background-western-canyon-valley-mountains-with-sand-path-cactus-arizona-mexico-desert-pixel_8071-54770.jpg");
  background-size: cover;
  position: relative;
}

#dino {
  height: 75px;
  width: 75px;
  top: 225px;
  position: relative;
  background-image: url("Juan.png");
  background-size: cover;
  transition: transform 0.1s;
  z-index: 10;
}

#rock {
  width: 50px;
  height: 50px;
  position: relative;
  top: 175px;
  left: 550px;
  background-image: url("Job Applications.png");
  background-size: cover;
  animation: rock 0.75s linear infinite;
  z-index: 10;
}

@keyframes rock {
  0% {
    left: 600px;
    transform: rotate(0deg);
  }

  100% {
    left: -60px;
    transform: rotate(1080deg);
  }
}

.jump-animation {
  animation: jump 0.3s ease-in-out;
}

@keyframes jump {
  0% {
    top: 225px;
    transform: rotate(0deg);
  }

  50% {
    top: 25px;
    transform: rotate(720deg);
  }

  100% {
    top: 225px;
    transform: rotate(0deg);
  }
}

#speech-bubble {
  position: absolute;
  top: 150px;
  left: 80px;
  background: white;
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px;
  max-width: 200px;
  font-family: Comic Sans MS, cursive;
  font-size: 16px;
  color: black;
  z-index: 10;
  box-shadow: 3px 3px 0px #000;
  display: none;
  z-index: 20;
}

#speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

#jump-btn {
  display: none;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 24px;
  font-family: sans-serif;
  background: limegreen;
  border: 4px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px black;
  color: white;
}

@media screen and (max-width: 700px) {
  #game {
    width: 100%;
    height: 200px;
    background-size: cover;
  }

  #dino {
    width: 50px;
    height: 50px;
    top: 150px;
  }

  #rock {
    width: 35px;
    height: 35px;
    top: 125px;
  }

  #score {
    font-size: 20px;
  }

  #speech-bubble {
    font-size: 12px;
    max-width: 150px;
    top: 100px;
  }

  #jump-btn {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
  }

}

#game-over-image {
  display: none;
  width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#controls {
  text-align: center;
  margin-top: 10px;
}

#controls button {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  background-color: rgb(255, 251, 0);
  color: rgb(0, 0, 0);
  border: 3px solid rgb(78, 50, 205);
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
  box-shadow: 2px 2px #000;
  transition: transform 0.1s;
}

#controls button:hover {
  transform: scale(1.05);
}

/* Cannonball */
.cannonball {
  width: 150px;
  height: 150px;
  position: absolute;
  background-image: url('cannonball.png');
  /* replace with your cannonball image */
  background-size: cover;
  border-radius: 50%;
  z-index: 5;
  animation: fly 2s linear forwards;
}

@keyframes fly {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(var(--dx), var(--dy));
  }
}

.distraction {
  position: absolute;
  width: 80px;
  height: 80px;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  /* BACK */
}

#game {
  filter: saturate(2) contrast(2);
  width: 600px;
  height: 300px;
  position: relative;
  transform-origin: center center;
  /* FIX */
}


#game-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#controls {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  display: flex;
  gap: 12px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* kills scrollbars */
}

#score {
  position: fixed;
  bottom: 65px;
  /* below controls */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  margin: 0;
}

#high-score {
  position: fixed;
  bottom: 105px;
  /* below score */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  margin: 0;
}